@import "tailwindcss";

@theme inline {
  --color-widget-bg: rgba(30, 33, 36, 0.74);
  --color-widget-bg-hover: rgba(40, 43, 46, 0.85);
  --color-widget-border: rgba(24, 0, 0, 0.67);
  --color-widget-skills-bg: rgba(66, 69, 73, 0.74);
  /* --color-body-dark: #15011a; */
  --color-body-dark: #15011a;
  --color-text-primary: #f8f8f8;
  --color-text-secondary: rgba(255, 255, 255, 0.67);
  --color-accent-purple: #c084fc;
  --color-accent-green: #299e3a;
  --color-accent-blue: #0385ff;
  --color-accent-red: #db4437;
  --color-accent-linkedin: #0e76a8;
  --color-discord-online: #1e8148;
  --color-discord-idle: #f0b132;
  --color-discord-dnd: #ec3e40;
  --color-discord-offline: #36393e;
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* 
* {
  transition: color 0.3s, background-color 0.3s, border-color 0.3s,
    opacity 0.3s, transform 0.3s, box-shadow 0.3s;
} 
    */

body {
  font-family: var(--font-sans);
}

/* Dark mode (default) */
body {
  background-color: var(--color-body-dark);
  color: var(--color-text-primary);
}

/* En tu globals.css */
.widget-card {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  /* Quita el recuadro gris feo de iOS al hacer tap */
}

/* Noise overlay */
.noise-overlay {
  position: fixed;
  inset: 0;
  z-index: -1;
  /* detrás de todo */
  opacity: 0.035;
  pointer-events: none;
  background-image: url("/noise.gif");
  background-repeat: repeat;
  background-size: auto;
  /* o 256px 256px según prefieras */
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}