@import "tailwindcss";

@theme inline {
  --color-widget-bg: rgba(30, 33, 36, 0.74);
  --color-widget-bg-hover: rgba(40, 43, 46, 0.85);
  --color-widget-border: rgba(24, 0, 0, 0.67);
  --color-widget-skills-bg: rgba(66, 69, 73, 0.74);

  --color-body-dark: #15011a;
  --color-text-primary: #f8f8f8;
  --color-text-secondary: rgba(255, 255, 255, 0.67);
  --color-accent-purple: #c084fc;
  --color-accent-green: #299e3a;
  --color-accent-blue: #0385ff;
  --color-accent-red: #db4437;
  --color-accent-linkedin: #0e76a8;
  --color-discord-online: #1e8148;
  --color-discord-idle: #f0b132;
  --color-discord-dnd: #ec3e40;
  --color-discord-offline: #36393e;
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: var(--font-sans);
}

/* Dark mode (default) */
body {
  background-color: var(--color-body-dark);
  color: var(--color-text-primary);
}

/* En tu globals.css */
.widget-card {
  /* cursor: pointer; */
  -webkit-tap-highlight-color: transparent;
  /* Quita el recuadro gris feo de iOS al hacer tap */
}

/* Noise overlay */
.noise-overlay {
  position: fixed;
  inset: 0;
  z-index: -1;
  /* detrás de todo */
  opacity: 0.035;
  pointer-events: none;
  background-image: url("/noise.gif");
  background-repeat: repeat;
  background-size: auto;
  /* o 256px 256px según prefieras */
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

/* Efecto de TV sin señal */
@keyframes tv-noise {

  0%,
  100% {
    background-position: 0 0;
  }

  10% {
    background-position: -5% -10%;
  }

  20% {
    background-position: -15% 5%;
  }

  30% {
    background-position: 7% -25%;
  }

  40% {
    background-position: 20% 25%;
  }

  50% {
    background-position: -25% 10%;
  }

  60% {
    background-position: 15% 5%;
  }

  70% {
    background-position: 0% 15%;
  }

  80% {
    background-position: 25% 35%;
  }

  90% {
    background-position: -10% 10%;
  }
}

@keyframes typing-dots {

  0%,
  24% {
    clip-path: inset(0 100% 0 0);
    /* Oculta los 3 puntos */
  }

  25%,
  49% {
    clip-path: inset(0 66% 0 0);
    /* Muestra 1 punto */
  }

  50%,
  74% {
    clip-path: inset(0 33% 0 0);
    /* Muestra 2 puntos */
  }

  75%,
  100% {
    clip-path: inset(0 0 0 0);
    /* Muestra los 3 puntos */
  }
}

.animate-dots::after {
  content: '...';
  display: inline-block;
  animation: typing-dots 1.5s infinite;
}

.animate-noise {
  animation: tv-noise 0.2s infinite;
}

.scanlines {
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.2));
  background-size: 100% 4px;
}